<section class="section section--about" id="made">
  <div class="container about">
    <p class="section__pre-title section__about-pre-title">tradition and love</p>
    <h2 class="section__title section__about-title">how it’s made?</h2>
    <div class="about__wrapper">
      <div class="about__picture-container">
        <picture>
          <source
            srcset="
              ./images/about/about-img-desk.webp     516w,
              ./images/about/about-img-desk@2x.webp 1032w
            "
            media="(min-width: 1280px)"
            type="image/webp"
            sizes="(min-width: 1280px) 516px"
          />
          <source
            srcset="
              ./images/about/about-img-desk.png     516w,
              ./images/about/about-img-desk@2x.png 1032w
            "
            media="(min-width: 1280px)"
            type="image/png"
            sizes="(min-width: 1280px) 516px"
          />
          <source
            srcset="
              ./images/about/about-img-tab.webp    340w,
              ./images/about/about-img-tab@2x.webp 680w
            "
            media="(min-width: 768px)"
            type="image/webp"
            sizes="(min-width: 768px) 340px"
          />
          <source
            srcset="./images/about/about-img-tab.png 340w, ./images/about/about-img-tab@2x.png 680w"
            media="(min-width: 768px)"
            type="image/png"
            sizes="(min-width: 768px) 340px"
          />
          <source
            srcset="
              ./images/about/about-img-mob.webp    280w,
              ./images/about/about-img-mob@2x.webp 560w
            "
            media="(max-width: 767px)"
            type="image/webp"
            sizes="(max-width: 767px) 280px"
          />
          <source
            srcset="./images/about/about-img-mob.png 280w, ./images/about/about-img-mob@2x.png 560w"
            media="(max-width: 767px)"
            type="image/png"
            sizes="(max-width: 767px) 280px"
          />
          <img src="./images/about/about-img-desk.png" alt="cow with milk" />
        </picture>
      </div>
      <div class="about__text-container">
        <p class="about__pre-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__after-text">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="about__button" type="button" data-modal-open-made>
          Read more
          <svg class="about__icon">
            <use href="./images/sprite.svg#icon-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<div class="backdrop is-hidden" data-modal-made>
  <div class="modal">
    <button class="modal__close" type="button" data-modal-close-made>
      <svg class="modal__icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="read-more" action="#">
      <p class="order-form__title">How it’s made?</p>
      <picture>
        <source
          srcset="
            ./images/about/about-img-desk.webp     516w,
            ./images/about/about-img-desk@2x.webp 1032w
          "
          media="(min-width: 1280px)"
          type="image/webp"
          sizes="(min-width: 1280px) 516px"
        />
        <source
          srcset="
            ./images/about/about-img-desk.png     516w,
            ./images/about/about-img-desk@2x.png 1032w
          "
          media="(min-width: 1280px)"
          type="image/png"
          sizes="(min-width: 1280px) 516px"
        />
        <source
          srcset="./images/about/about-img-tab.webp 340w, ./images/about/about-img-tab@2x.webp 680w"
          media="(min-width: 768px)"
          type="image/webp"
          sizes="(min-width: 768px) 340px"
        />
        <source
          srcset="./images/about/about-img-tab.png 340w, ./images/about/about-img-tab@2x.png 680w"
          media="(min-width: 768px)"
          type="image/png"
          sizes="(min-width: 768px) 340px"
        />
        <source
          srcset="./images/about/about-img-mob.webp 280w, ./images/about/about-img-mob@2x.webp 560w"
          media="(max-width: 767px)"
          type="image/webp"
          sizes="(max-width: 767px) 280px"
        />
        <source
          srcset="./images/about/about-img-mob.png 280w, ./images/about/about-img-mob@2x.png 560w"
          media="(max-width: 767px)"
          type="image/png"
          sizes="(max-width: 767px) 280px"
        />
        <img src="./images/about/about-img-desk.png" alt="cow with milk" />
      </picture>
      <label for="text" class="read-more-about__text"
        >Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.Curabitur
        lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
        imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.Curabitur
        lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
        imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus.
      </label>
    </form>
  </div>
</div>
