<section #how-its-made-navigations class="section section--about">
  <div class="container about">
    <p class="about__above-title">tradition and love</p>
    <h2 class="about_title">how it’s made?</h2>
    <div class="about__wrapper">
      <div class="about__picture-container">
        <picture>
          <source
            srcset="
              ./images/about/about-img-desk.webp    236w,
              ./images/about/about-img-desk@2x.webp 472w
            "
            media="(min-width: 1280px)"
            type="image/webp"
            sizes="(min-width: 1280px) 236px" />
          <source
            srcset="
              ./images/about/about-img-desk.png    236w,
              ./images/about/about-img-desk@2x.png 472w
            "
            media="(min-width: 1280px)"
            type="image/png"
            sizes="(min-width: 1280px) 236px" />
          <source
            srcset="
              ./images/about/about-img-tab.webp    143w,
              ./images/about/about-img-tab@2x.webp 286w
            "
            media="(min-width: 768px)"
            type="image/webp"
            sizes="(min-width: 768px) 143px" />
          <source
            srcset="./images/about/about-img-tab.png 143w, ./images/about/about-img-tab@2x.png 286w"
            media="(min-width: 768px)"
            type="image/png"
            sizes="(min-width: 768px) 143px" />
          <source
            srcset="
              ./images/about/about-img-mob.webp    171w,
              ./images/about/about-img-mob@2x.webp 342w
            "
            media="(max-width: 767px)"
            type="image/webp"
            sizes="(max-width: 767px) 171px" />
          <source
            srcset="./images/about/about-img-mob.png 171w, ./images/about/about-img-mob@2x.png 342w"
            media="(max-width: 767px)"
            type="image/png"
            sizes="(max-width: 767px) 171px" />
          <img src="./images/about/about-img-desk.png" alt="cow with milk"
        /></picture>
      </div>
      <div class="about__text-container">
        <p class="about__pre-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__after-text">Aliquam erat volutpat. Aenean accumsan.</p>
      </div>
    </div>
    <button class="about__button" type="button">
      <a class="about__link" href="#"
        >Read more
        <svg class="about__icon">
          <use href="./images/sprite.svg#icon-btn"></use>
        </svg>
      </a>
    </button>
  </div>
</section>
