<section class="section section--contacts">
    <div class="container container--contacts">
        <h3 class="visually-hidden">Contacts</h3>
        <ul class="contacts__city city">
            <li class="contacts__item">
                <div class="container__city">
                    <p class="contacts__title">CAFE</p>
                    <div class="city-item item">
                        <h4 class="city__title">Chicago</h4>
                        <p class="city__title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__schedule item">
                        <ul class="schedule__list">
                            <li class="schedule__item">
                                <p class="schedule__day">Monday - Friday</p>
                                <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__day">Saturday - Sunday</p>
                                <p class="schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <div class="city-contacts item">
                        <a class="link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </div>
            </li>
            
            <li class="contacts__item">
                <div class="container__city">
                    <p class="contacts__title">FOOD TRUCK</p>
                    <div class="city-item item">
                        <h4 class="city__title">Los Angeles</h4>
                        <p class="city__title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__schedule item">
                        <ul class="schedule__list">
                            <li class="schedule__item">
                                <p class="schedule__day">Monday - Friday</p>
                                <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__day">Saturday - Sunday</p>
                                <p class="schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <div class="city-contacts item">
                        <a class="link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>    
                </div>
            </li>

            <li class="contacts__item">
                    <div class="container__city">
                    <p class="contacts__title">CAFE</p>
                    <div class="city-item item">
                        <h4 class="city__title">New York</h4>
                        <p class="city__title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__schedule item">
                        <ul class="schedule__list">
                            <li class="schedule__item">
                                <p class="schedule__day">Monday - Friday</p>
                                <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__day">Saturday - Sunday</p>
                                <p class="schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <div class="city-contacts item item">
                        <a class="link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>    
                </div>
            </li>
        </ul>
        
        <div class="contacts__btn">
            <button class="btn__location btn__location--color" type="button">Our Locations
                <svg class="btn__icon btn__icon--color" width="8" height="16">
                    <use href="./images/sprite.svg#icon-cheveron-right"></use>
                </svg>
            </button>
            <button class="btn__location btn__location--white" type="button">Franchise
                <svg class="btn__icon btn__icon--white" width="8" height="16">
                    <use href="./images/sprite.svg#icon-cheveron-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>