<section class="reviews"> 
<div class="container"> 
    <h2 class="reviews__title visually-hidden">reviews</h2> 

    <ul class="reviews__list"> 

        <li class="reviews__item"> 
            
            <picture class="reviews__picture">
                <source srcset="
                                        ./images/reviews/reviews-img-1.webp 199w,
                                        ./images/reviews/reviews-img-1@2x.webp 398w
                                    " type="image/webp" sizes="199px">
                <source srcset="
                                        ./images/reviews/reviews-img-1.png 199w,
                                        ./images/reviews/reviews-img-1@2x.png 398w
                                    " type="image/png" sizes="199px">
                <img class='reviews__img' src="./images/reviews/reviews-img-1.png" alt="girl">
            </picture>  
           

            <div class="reviews__text-box">  
                <div class="reviews__gradient"> 
                    <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p> 
                </div>
            </div> 

            <div class="reviews__city"> 
                <p class="reviews__city-text">Emily, Los Angeles</p>
            </div>
        </li>

    </ul>

</div>

</section>