<footer class="footer sections-footer">
    <div class="container container--footer">
        <div class="footer-list">
            <div class="footer-title">
                <p class="section__pre-title footer-title--small">homemade ice cream made</p>
                <h2 class="footer-title--big section__title">with passion</h2>
            </div>
            <div class="footer-contacts">
                <div class="footer-socials">
                    <h2 class="visually-hidden">Socials</h2>
                    <ul class="footer-socials-list">
                        <li class="footer-socials__item">
                            <a href="https://www.github.com/" target="_blank" rel="noopener noreferrer"
                                class="footer-socials__link">
                                <svg class="footer-socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
            
                        <li class="footer-socials__item">
                            <a href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer"
                                class="footer-socials__link">
                                <svg class="footer-socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
            
                        <li class="footer-socials__item">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
                                class="footer-socials__link">
                                <svg class="footer-socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
            
                </div>
            
                <div class="footer-phone">
                    <p class="footer-phone--text">Feel free to contact</p>
                    <a class="footer-phone--list link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p class="footer-copyright--text">&#169; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>