<section class="section gallery">
	<div class="container gallery--container">
		<picture class="gallery--picture">
			<source srcset="
		              ./images/gallery/gallery-desk.webp 236w,
		              ./images/gallery/gallery-desk@2x.webp 472w
		            " media="(min-width: 1280px)" type="image/webp" sizes="(min-width: 1280px) 236px" />
			<source srcset="
		              ./images/gallery/gallery-desk.png 236w,
		              ./images/gallery/gallery-desk@2x.png 472w
		            " media="(min-width: 1280px)" type="image/png" sizes="(min-width: 1280px) 236px" />
			<source srcset="
		              ./images/gallery/gallery-tab.webp 143w,
		              ./images/gallery/gallery-tab@2x.webp 286w
		            " media="(min-width: 768px)" type="image/webp" sizes="(min-width: 768px) 143px" />
			<source srcset="./images/gallery/gallery-tab.png 143w, 
									./images/gallery/gallery-tab@2x.png 286w" media="(min-width: 768px)" type="image/png"
				sizes="(min-width: 768px) 143px" />
			<source srcset="
		              ./images/gallery/gallery-mob.webp 171w,
		              ./images/gallery/gallery-mob@2x.webp 342w
		            " media="(max-width: 767px)" type="image/webp" sizes="(max-width: 767px) 171px" />
			<source srcset="./images/gallery/gallery-mob.png 171w, 
			./images/gallery/gallery-mob@2x.png 342w" media="(max-width: 767px)" type="image/png"
				sizes="(max-width: 767px) 171px" />
			<img src="./images/gallery/gallery-desk.png" alt="Collage" />
		</picture>
	</div>
</section>