<header class="header">
    <div class="container container--header">
        <nav class="navigations">
            <!-- Site logo -->
            <a class="navigations__logo logo" href="./index.html">
                <picture class="logo__picture">
                    <source
                        srcset="
                            ./images/logo/logo.webp 199w,
                            ./images/logo/logo@2x.webp 398w
                        "
                        type="image/webp"
                        sizes="199px"
                    >
                    <source
                        srcset="
                            ./images/logo/logo.png 199w,
                            ./images/logo/logo@2x.png 398w
                        "
                        type="image/png"
                        sizes="199px"
                    >
                    <img
                        src="./images/logo/logo.png"
                        alt="Site logo"
                    >
                </picture>
            </a>
            
            <!-- Main navigations -->
            <ul class="navigations__menu menu">
                <li class="menu__item">
                    <a class="menu__link menu__link--current" href="#">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Our products</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Contact</a>
                </li>
            </ul>
            
            <div class="backdrop is-hidden" data-menu>
                <!-- Mobile menu -->
                <div class="mobile-menu">
                    <!-- Menu close button -->
                    <button class="mobile-menu__button-close" data-menu-close type="button">
                        <svg class="mobile-menu__icon-close">
                            <use href="./images/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                
                    <!-- Button "Buy now" -->
                    <div class="mobile-menu__button-wrapper">
                        <button class="mobile-menu__button button-buy" type="button">
                            Buy now
                            <svg class="button-buy__icon">
                                <use href="./images/sprite.svg#icon-btn"></use>
                            </svg>
                        </button>
                    </div>
                
                    <ul class="mobile-menu__list">
                        <li class="mobile-menu__item">
                            <a class="mobile-menu__link mobile-menu__link--current" href="#">Home</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a class="mobile-menu__link" href="#">About us</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a class="mobile-menu__link" href="#">How it’s made?</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a class="mobile-menu__link" href="#">Our products</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a class="mobile-menu__link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Menu open button -->
            <button class="mobile-menu__button-open" data-menu-open type="button">
                <svg class="mobile-menu__icon-open">
                    <use href="./images/sprite.svg#icon-burger"></use>
                </svg>
            </button>
            
            <!-- Button "Buy now" -->
            <button class="navigations__button button-buy" type="button">
                Buy now
                <svg class="button-buy__icon">
                    <use href="./images/sprite.svg#icon-btn"></use>
                </svg>
            </button>
        </nav>
    </div>
</header>