<!-- Hero section -->
<section class="section section--hero">
    <div class="container container--hero">
        <div class="hero">
            <!-- Title and navigation buttons -->
            <div class="hero__title-wrapper">
                <h1 class="hero__title">ice cream made with <span class="hero__title--color">passion</span></h1>
                <ul class="hero__link-wrapper">
                    <li class="hero__link-item">
                        <a class="hero__link hero__link--color" href="#">Products</a>
                    </li>
                    <li class="hero__link-item">
                        <a class="hero__link hero__link--white" href="#">How it’s made?</a>
                    </li>
                </ul>
            </div>
            
            <!-- Center image, large ice cream -->
            <picture class="hero__big-ice">
                <img src="" alt="">
            </picture>
            
            <!-- Number of points of sale -->
            <ul class="hero__text-wrapper">
                <li class="hero__text-item">
                    <p class="hero__number">16</p>
                    <p class="hero__text">cafes</p>
                </li>
                <li class="hero__text-item">
                    <p class="hero__number">23</p>
                    <p class="hero__text">food trucks</p>
                </li>
            </ul>
            
            <!-- Short description -->
            <div class="hero__about">
                <p class="hero__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                </p>
                <a class="hero__link-arrow" href="#">
                    <svg class="hero__link-icon">
                        <use></use>
                    </svg>
                </a>
            </div>
            
            <!-- Pictures with a girl and a jug of milk -->
            <picture class="hero__jug">
            </picture>
            
            <picture class="hero__girl">
            </picture>
        </div>
    </div>
</section>