<div class="backdroup">
    <div class="modal">
        <form action="#" class="order-from">
            <label>
                <span>name</span>
                <input type="text">
                <svg>
                    <use></use>
                </svg>
            </label>
            <label>
                <span>phone</span>
                <input type="text">
                <svg>
                    <use></use>
                </svg>
            </label>
            <label>
                <span>email</span>
                <input type="text">
                <svg>
                    <use></use>
                </svg>
            </label>
            <label>
                <span>выпадающий список</span>
                <input type="text">
                <svg>
                    <use></use>
                </svg>
            </label>
        </form>
    </div>
</div>