<section class="section-products">
    <div class="container">

        <p class="section-products__text">100% natural</p>
        <h2 class="section-product__title">products</h2>

        <ul class="products">
            <li class="products__item product__item--pink">
                <h3 class="products__title products__title--first">ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item product__item--yellow">
                <h3 class="products__title products__title--second">ice coffee</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item product__item--green">
                <h3 class="products__title products__title--third">milkshakes</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
                <button class="products__button" type="button"></button>
            </li>
        </ul>
    </div>
</section>