.scrollup {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.scrollup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  color: #ffffff;
  background-color: #fea5bb;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #d41443;
  }
}

.scrollup__icon {
  width: 18px;
  height: 13px;
  fill: currentColor;
  transform: rotate(270deg);
}
