.section--contacts {
  background-image: linear-gradient(to bottom, #ffffff 178px, #fff5f6 178px, #fff5f6 784px);

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to bottom, #ffffff 197px, #fff5f6 197px, #fff5f6 784px);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/footer/footerbg.png),
      linear-gradient(to bottom, #ffffff 0, #fff5f6 0, #fff5f6 784px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 215px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/footerbg@2x.png),
        linear-gradient(to bottom, #ffffff 0, #fff5f6 0, #fff5f6 784px);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 215px;
    }
  }
}

.container--contacts {
  padding: 86px 50px 113px;

  @media screen and (min-width: $tablet) {
    padding: 119px 36px 158px;
  }

  @media screen and (min-width: $desktop) {
    padding: 132px 115px 165px;
  }
}

.item {
  padding-top: 25px;
  padding-bottom: 25px;

  &:nth-child(4) {
    padding-bottom: 0;
  }
}

.city__item {
  border-bottom: 1px solid #e1e1e1;
}

.contacts__city {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin: -10px;
  }
}

.contacts__item {
  padding: 43px 20px;

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    max-width: 280px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin: 10px;
    padding: 50px 30px;
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }

    padding: 55px 44px;
  }
}

.contacts__title {
  display: inline-block;
  padding: 0 15px;
  align-items: center;
  text-align: center;
  @include text(500, 12px, 22px);
  color: var(--white-text);
  background: #f0d1a5;
  border-radius: 6px;

  @media screen and (min-width: $tablet) {
    @include text(500, 16px, 30px);
  }
}

.contacts__title--color {
  background: #c2e297;
  padding: 0 16px;
}

.city__title {
  margin-bottom: 10px;
  @include text(500, 12px, 22px);
  color: var(--main-text);
}

.city__title-text {
  @include text(500, 12px, 18px);
  color: var(--second-text);

  @media screen and (min-width: $tablet) {
    @include text(500, 14px, 23px);
  }
}

.contacts__schedule {
  border-bottom: 1px solid #e1e1e1;
}

.schedule__item {
  margin-bottom: 10px;
}

.schedule__day {
  @include text(500, 12px, 22px);

  @media screen and (min-width: $tablet) {
    @include text(500, 14px, 26px);
  }
}

.schedule__time {
  @include text(500, 12px, 22px);
  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    @include text(500, 14px, 26px);
  }
}

.city__contacts--list {
  @include text(500, 12px, 18px);
  color: var(--second-text);
  display: flex;

  @media screen and (min-width: $tablet) {
    @include text(500, 14px, 26px);
  }
}

//!----------- Btn
.contacts__btn {
  margin-top: 54px;

  @media screen and (min-width: $tablet) {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.btn__location {
  display: flex;
  align-content: center;
  width: 164px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.btn__location--color {
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: var(--white-text);
  background: var(--title-text);
  border-radius: 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  @media screen and (min-width: $tablet) {
    width: 192px;
    height: 44px;
  }

  @media screen and (min-width: $tablet) {
    width: 199px;
    height: 44px;
  }
}

.btn__location--white {
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: var(--title-text);
  background: var(--white-text);
  border-radius: 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: $tablet) {
    width: 181px;
    height: 44px;
  }
}

.btn__icon--color {
  fill: var(--white-text);
  margin-left: 13px;
}

.btn__icon--white {
  fill: var(--title-text);
  margin-left: 13px;
}
