.section {
  &--reviews {
    padding-top: 80px;

    @media screen and (min-width: $tablet) {
      padding-top: 120px;
    }
  }
}

.reviews__item {
  margin-left: 0px auto;
  margin-right: 0px auto;
  @media screen and (min-width: $tablet) {
    width: 620px;
  }

  @media screen and (min-width: $desktop) {
    width: 925px;
  }
}

.reviews__picture {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.reviews__img {
  margin-right: auto;
  margin-left: auto;
}

.reviews__text-box {
  padding: 30px 50px 20px;
  background-color: #fafafa;
  text-align: center;
  position: relative;
}
.reviews__gradient {
  background-size: 100% 32px;
  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 20px,
    #e1e1e1 21px,
    #e1e1e1 22px
  );
  @media screen and (min-width: $tablet) {
    background-image: repeating-linear-gradient(
      to bottom,
      #fafafa,
      #fafafa 25px,
      #e1e1e1 26px,
      #e1e1e1 27px
    );
  }
}

.reviews__text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;

  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
}

.reviews__text-box::before {
  content: url(../images/reviews/quotes.png);
  position: absolute;
  left: 30px;
  top: 10px;
}

.reviews__city-text {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;

  text-align: center;
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
  }
}

.reviews__city-text::before {
  display: block;
  content: '...';
  font-size: 50px;
  letter-spacing: 0.1em;
  color: #c7133e;
  margin-bottom: 20px;
}
.slick-dots li.slick-active button:before {
  opacity: 5;
  background: #c7133d00;
  background-image: url(../images/reviews/home.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.slick-dots li button:before {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 20px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e1e1e1;
  content: '';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
}
.slick-dots li button {
  background-color: #e1e1e1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 20px;
}
