// Header

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  padding-top: 6px;

  @media screen and (min-width: $tablet) {
    padding: 37px 34px 0 34px;
  }

  @media screen and (min-width: $desktop) {
    padding: 37px 0 0 0;
  }
}

.navigations {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.navigations__logo {
  @media screen and (min-width: $tablet) {
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 110px;
  }
}

.navigations__menu {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: 110px;
  }
}

.navigations__button {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-shrink: 0;
  }
}

// Main navigations
.menu__item {
  margin-right: 35px;
  flex-shrink: 0;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  @include text($height: 21px, $spacing: 0);
  color: #ffffff;
  transition: color 250ms linear;

  &--current {
    color: var(--title-text);
  }

  &:hover,
  &:focus {
    color: var(--title-text);
  }
}

// Button "Buy now"

.button-buy {
  justify-content: center;
  align-items: center;

  height: 44px;
  padding: 0 35px;

  @include text($height: 21px, $spacing: 0);

  color: var(--title-text);
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    transform: scale(1.1);
  }
}

.button-buy__icon {
  width: 8px;
  height: 16px;
  margin-left: 15px;
  fill: var(--title-text);
}
