.section-products {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 100px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 110px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 120px;
  }
}

.section-products__text {
  margin-bottom: 15px;
  text-align: center;
}

.section-product__title {
  text-align: center;

  margin-bottom: 145px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 155px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 270px;
  }
}

.products {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    margin: -10px;
  }
}

.products__item {
  position: relative;
  padding: 165px 40px 40px 40px;

  text-align: center;
  border-radius: 24px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 130px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 20px) / 3);
    margin: 10px;
    padding: 155px 15px 40px 15px;
  }

  @media screen and (min-width: $desktop) {
    padding: 170px 44px 50px 44px;
  }
}

.product__item--pink {
  background-color: #ffb8ca;
}

.product__item--yellow {
  background-color: #f0d1a5;
}

.product__item--green {
  background-color: #c2e297;
}

.products__title {
  margin-bottom: 30px;

  @include text(400, 20px, 22.9px);
  text-transform: uppercase;
  font-family: Titan One;

  color: var(--white-text);

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title::before {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    top: -105px;
    width: 220px;
    height: 226px;
  }

  @media screen and (min-width: $desktop) {
    top: -200px;
    width: 335px;
    height: 335px;
  }
}

.products__title--first::before {
  background-image: url(../images/products/prod-img-1-mob.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/products/prod-img-1-mob2x.png);
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/products/prod-img-1-tab.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/prod-img-1-tab@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/products/prod-img-1-desk.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/prod-img-1-desk@2x.png);
    }
  }
}

.products__title--second::before {
  background-image: url(../images/products/prod-img-2-mob.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/products/prod-img-2-mob@2x.png);
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/products/prod-img-2-tab.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/prod-img-2-tab@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/products/prod-img-2-desk.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/prod-img-2-desk@2x.png);
    }
  }
}

.products__title--third::before {
  background-image: url(../images/products/prod-img-3-mob.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/products/prod-img-3-mob@2x.png);
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/products/prod-img-3-tab.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/prod-img-3-tab@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/products/prod-img-3-desk.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/prod-img-3-desk@2x.png);
    }
  }
}

.products__title::after {
  display: block;
  content: '';
  width: 26px;
  height: 6px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/products/dots.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.products__text {
  margin-bottom: 30px;

  @include text(700, 14px, 21.28px);

  color: var(--white-text);

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    line-height: 1.76;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
    font-size: 16px;
  }
}

.products__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: none;
  background-color: #ffffff;
  background-image: url(../images/btn-arrow/arrow-right.png);
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/btn-arrow/arrow-right@2x.png);
  }
}

// Read more
.hidden {
  display: none;
}
